@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="~/Content/pngegg (5).png" width="1500" />
    <h5>
        Oxford University provides world-class research and education to benefit society on a local, regional, national and global scale.
        The University of Oxford is a collegiate research university in Oxford, England. There is evidence of teaching as early as 1096, making it the oldest university in the English-speaking world and the world's second-oldest university in continuous operation.
    </h5>
</div>